<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="icon is-medium"><i class="fa fa-hand-paper-o"></i></span>
      <h1 class="title is-3">Protese</h1>
    </a>

    <a class="navbar-item " href="/contribute">
        Contribua
      </a>

    <a class="navbar-item " href="/request">
        Solicite
      </a>

  </div>

  <div class="navbar-end">
    <a class="navbar-item " href="/about">
        Sobre nós
      </a>
    <a class="navbar-item" href="/account">
      <span class="icon is-medium"><i class="fa fa-user-circle"></i></span>
    </a>
  </div>
</nav>