<div class="columns">
    <div class="column">
        <div class="box has-text-centered vertical-align">
            <figure class="image">
                <img src="../assets/boy.jpg">
            </figure>
        </div>
    </div>
    <div class="column">
        <div class="box has-text-centered vertical-align">
            <div>
                <app-percent-chart></app-percent-chart>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="box has-text-centered vertical-align">
            <figure class="image">
                <img src="../assets/protese.jpg" >
            </figure>
        </div>
    </div>

</div>

<div class="box box-text">
    <p>
        <strong>John Smith</strong> <small>14 anos</small> <small>São Paulo</small>
        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas.
        Nullam condimentum luctus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet
    </p>
    <nav class="level is-mobile">
        <div class="level-left">
            <small>Compartilhe:</small>
            <a class="level-item">
            <span class="icon is-small"><i class="fa fa-facebook"></i></span>
          </a>
            <a class="level-item">
            <span class="icon is-small"><i class="fa fa-twitter"></i></span>
          </a>
            <a class="level-item">
            <span class="icon is-small"><i class="fa fa-google-plus"></i></span>
          </a>
        </div>
    </nav>
</div>